.uhmanoa-landing-background {
  background-image: url('images/keller.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 500px;
}

.uhmanoa-home-background {
  background-image: url('images/hawaiihall.jpg');
  height: 1100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.white-label {
  color: white !important;
}