.uhmanoa-landing-background {
  background-image: url('images/keller.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 500px;
}

.uhmanoa-home-background {
  background-image: url('images/hawaiihall.jpg');
  height: 1100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.uhmanoa-event-background {
  text-align: center;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.uhmanoa-professors-background {
  background-image: url('images/post-building.jpg');
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.uhmanoa-listcourses-background {
  background-image: url('images/hamilton.jpg');
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.uhmanoa-editposts-background {
  background-image: url('images/campus.jpg');
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.uhmanoa-signin-background {
  background-image: url('images/uhlawn.jpg');
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.white-label {
  color: white !important;
}

.App {
  text-align: center;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}